.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: white ;
  color: #00529c;
}

.App-footer {
  background-color: #dce7f1;
  color: #00529c;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

